.game-image{
    display:inline-block;
    height: 125px;
    width: 225px;
    cursor: pointer;
    padding: 10px;
}
.game-image:hover{
    transform: scale(2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.game-name {
  color: #f2f1ef;
}
.content{
    max-width:100%;
    text-align:center;
    margin: 30px;
    padding: 0;
    flex: 1;
    color: #0000;
    display: grid;
    grid-gap: 1fr;
}
  @media (min-width: 0px) {
    .content { grid-template-columns: repeat(2, 1fr); }
  }
  @media (min-width: 1200) {
    .content { grid-template-columns: repeat(4, 1fr); }
  }
  @media (min-width: 1800px) {
    .content { grid-template-columns: repeat(5, 1fr); }
  }
  @media (min-width: 2800px) {
    .content { grid-template-columns: repeat(8, 1fr); }
  }


  .layout {
    background-color: #22161c;
}
  
  .nav {
    
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    height: 5rem;

    h2{

      a{
        color: #f2f1ef;
        text-decoration: none;

          &:hover {
            font-size:30px;
            transition: all 500ms;

          }
      }
      
    }

      
}

.header {

  &-div {
  background-image: url(https://wallpaperaccess.com/full/5927911.gif);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  }

  &-text {
  font-size: 120px;
  color: #fff;
  }

}

.topic{
  font-family: sans-serif;
}
.load-button{
  display: flex;
}

.sort-text{
  display:flex;
}

.sort-select{
  display: flex;
}
